{% extends 'base.html' %}
{% load static %}
{% block b1 %}


<div class="row">
<div class="card text-white bg-dark mb-3 col-12 >
    
    <div class="card-body">
      <h1 class="card-title">{{ sentence.EN }}</h1>
    </div>
  </div>
</div>


<div class="row justify-content-between">
<a class="btn btn-danger btn-lg col-4" href="{% url 'revision:promote' sentence.pk %}" role="button">PR</a>
<a class="btn btn-info col-4 float-right btn-lg" href="{% url 'revision:demote' sentence.pk %}" role="button">DE</a>
</div>



<div class="card text-muted bg-secondary mb-3" >
    <div class="card-body">
      <h1 class="card-title ">{{ sentence.DE }}</h1>
    </div>
  </div>



</div>






{% endblock %}